<!DOCTYPE html>
<html lang="en">
 <meta charset="utf-8">
  <head>
	<title>PayPal Accessibility Tool - Bookmark</title>
</head>
<body>
	<h1> <a href="javascript:(function()%20{var%20_p='https://paet.corp.ebay.com/';var%20_i=function(s,cb)%20{var%20sc=document.createElement('script');sc.onload%20=%20function()%20{sc.onload%20=%20null;sc.onreadystatechange%20=%20null;cb.call(this);};sc.onreadystatechange%20=%20function(){if(/^(complete|loaded)$/.test(this.readyState)%20===%20true){sc.onreadystatechange%20=%20null;sc.onload();}};sc.src=s;if%20(document.head)%20{document.head.appendChild(sc);}%20else%20{document.getElementsByTagName('head')[0].appendChild(sc);}};%20var%20options={path:_p};_i(_p+'Auditor/HTMLCS_squizlabs.js',function(){HTMLCSAuditor.run('WCAG2AA',null,options);});})();">
		PAET 
	</a>
	</h1>
	<p>
		<ol>	
			<li>	Simply copy or drag this link to your browser bookmarks. </li>
			<li>	Open the page you want to test in the browser which you created this bookmark. </li>
			<li>	Click this bookmark. </li>
			<li>	Note: This can also be used to test logged in pages. </li>
</p>
</body>
</html>